*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel{
    padding: 5rem;
    background-color: #000;
    color: antiquewhite;
    height: 100vh;
    width: 100vw;
}

.box{
    background-color: lightgreen;
    height: 200px;
    /* width: 220px !important; */
}


.box h3{
    text-align: center;
}

.slick-slide div{
    margin: 0 1rem;

}

.slick-dots li button:before{
    color: #5423ce !important;
    font-size: 0.75rem !important;
    top: 2rem !important;
}


/* 
@media screen and (max-width: 810px){
    .slick-initialized .slick-slide{
        margin: 0 0.5rem !important;
    }

}
*/
@media screen and (max-width: 428px){
    .slick-initialized .slick-slide{
        margin: 0 0 -2rem 0rem !important;
        /* height: 220px !important; */
    }

    .slick-slide div {
        margin: 0 0rem  !important; 
    }

} 