*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel{
    padding: 2rem 5rem;
    margin-top: 5rem;
    background-color:rgb(201, 165, 234);
    color: antiquewhite;
    height: 80vh;
    width: 100vw;
}

.box{
    /* background-color: lightgreen; */
    height: 200px;
    /* width: 220px !important; */
}


.box h3{
    text-align: center;
}

.slick-slide div{
    margin: 0 1rem;

}

.slick-dots li button:before{
    color: #5423ce !important;
    font-size: 0.75rem !important;
    top: 2rem !important;
}

img{
    object-fit:cover;
  
}
.box img{
    width: 100%;
    height: 100%;
}


.box h2{
    text-align: center;
    font-size: 16px !important; 
    text-transform: uppercase;
    padding-top: 1rem;
    color: antiquewhite !important;
    font-family: 'Lato', sans-serif !important;
     
}

.carousel h2{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0 2rem;
    color: #0de7c3;
    font-family: 'Syncopate', sans-serif;
}

@media screen and (max-width: 810px){
    .carousel h2{
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 428px){
     .slick-initialized .slick-slide{
        /* margin: 0 0 -2rem 0rem !important; */
        height: 280px !important;
   
    }
/*
    .slick-slide div {
        margin: 0 0rem  !important; 
    } */

    img{
        margin: 4rem 0 0 0 ;/*-5rem 0 0  0.65rem ;*/
        padding: 0;
       
    }

    .box{
        height: 160px;
        width: 205px !important;
    }

    .box img{
        width: 100%;
        height: 100%;
    }

    slick-next{
        right: -45px !important ;
        left: -45px !important;

    }

    .box h2{
       
        font-size: 14px;
        padding-top: 0.5rem;
         
    }
    
    .carousel h2{
        font-size: 1.4rem;
        margin-bottom: -70px;
    }

    .carousel{
        height: 60vh;
    }

} 

@media screen and (max-width: 390px){

    img{
        margin: 4rem 0 0 -1.5rem ;/*-5rem 0 0  0.65rem ;*/
        
    }
    .box h2{
       
        padding-top: 0.2rem;

        padding-right: 50px;
        font-size: 15px !important;
         
    }


}


@media screen and (max-width: 360px){

    img{
        margin: 4rem 0 0 -2rem ;/*-5rem 0 0  0.65rem ;*/
        padding: 0.5rem;
        
    }

   
}