
img{
    max-height: 75rem;
    max-width: 72rem;
}

.main{
    width: 90vw;
    height: 90vw;
    background-color: blueviolet;
}

.bg{
    background-color: aqua;
}

.bg2{ 
    background-color: blue;
}