

.header-container{ 
    background-color: transparent;
    position: relative;
    top: -60px;
    
}    
 


#text-container{
    height: 110vh;
    background: linear-gradient(to top,  #0de9e2, #2cec3c);
    /* padding: 0; */
}

 
#header-text{
    font-size: 12vw;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(47, 45, 41);
    margin-top: -190px;
    padding-top: 280px;
       
}

.lineParent{
    overflow: hidden;
}
.lineChildren{ /*animation*/
    transform: translate(0, 500px);
}

@media screen and (max-width: 810px){
    
    
    #text-container{
        height: 70vh;
       
    }
    #header-text{
        padding-top: 320px;
           
    }
    
    
    
} 


@media screen and (max-width: 550px){

    #text-container{
        height: 60vh;
        
       
    }
    #header-text{
        padding-top: 246px;
           
    }
    
    
   
} 