

.header-container{ 
    background-color: transparent;
    position: relative;
    padding: 0 5vw;
}   
 




.text-container{
    
    height: 900px;
    background: linear-gradient(to top,  #0de9e2, #2cec3c);
    padding: 0;
}


#header-text{
    font-size: 13vw;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(47, 45, 41);
    margin-top: -220px;
    padding-top: 280px;
       

}