

.header-container{ 
    background-color: transparent;
    position: relative;
    /* padding: 0 5vw; */
}   
 





#text-container{
    height: 120vh;
    background: linear-gradient(to top,  #0de9e2, #2cec3c);
    padding: 0;
}


#header-text{
    font-size: 12vw;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(47, 45, 41);
    margin-top: -190px;
    padding-top: 280px;
       

}

.lineParent{
    overflow: hidden;
}
.lineChildren{ /*animation*/
    transform: translate(0, 500px);
}