.navbar{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 50px 20px 0 70px;
    font-size: 25px;
    font-family: 'Syncopate', sans-serif;
    color: rgb(227, 191, 147);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 999;
    position: sticky;
    top: 0px;
    margin: 0 10px 0 10px;
    text-decoration: none;

    

}

.menu-bars{
    margin-left: 2rem;
    margin-top: -12px;
    background: none;
    font-size: 45px;
}





.nav-links{
    text-decoration: none;
    color: rgb(227, 191, 147);
    

}

.nav-menu{
    background-color: rgba(166, 148, 123, 0.79);
    
    /* rgba(244, 237, 227, 0.787); */
    width: 450px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    margin-left: -81px;
    left: -100%;
    opacity: 1;
    transition: all 850ms ease;
    
}

.nav-menu.active{
    left: 80px;
    transition: 350ms;

}

.nav-text{
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;

    
}

.nav-text a{
    text-decoration: none;
    color: #e3be92;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 2;
    /* padding: 5px 0 50px 0;  0 16px*/
    border-radius: 25px;
    padding: 0 5px;
  

    
}


.nav-text a:hover{
    /* background: linear-gradient(to top,  #0de9e2, #2cec3c); */
    background-color: rgb(244, 237, 227);
    width: 90%;
    padding-left: 20px;
    height: 60px;
}

.navbar-toggle{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
   
}



.close{
  margin-left: -38px;
}