
#header-text{
        font-size: 13vw;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 700;

}
      
.section-header{
        margin-bottom: 50px;
}







