.navbar{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 0 70px;
    font-size: 25px;
    font-family: 'Syncopate', sans-serif;
    color: rgb(227, 191, 147);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 999;
    position: sticky;
    top: 0px;
    margin: 0 10px 0 10px;
    text-decoration: none;

    

}

.header-container{
    position: relative;
    padding: 0 5vw;
}    
.header-menu{
    z-index: 999;
    position: sticky;
    top: 100px;
    left: 0;
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    font-weight: 550;
    color: rgb(227, 191, 147);
    text-transform: uppercase;
        
}
li{
    margin: 10px 0;

}






ul{
    list-style: none;
}

.nav-links{
    text-decoration: none;
    color: rgb(227, 191, 147);
    

}

