

 .gallery-container{
    background-color: #5423ce;
    padding: 3vw 0 5vw 2vw; 
    display: flex;
    flex-direction: row;
    justify-content:left;
} 


.gallery-img{

    padding: 5px 60px;
    margin: 30px 0 0 0;
    cursor: pointer;
    transition: 1s;

}

img{
    transition: 1s;
}
img:hover{
    transform:scale(1.4);
    z-index: 2;
}


 
.gallery-info-title{
    margin-top: 5px 0 0 0;
    line-height: 3vw; /* original 6 
    /* font-family: ???; */
    /* font-weight: 600; */
    font-size: 2.4vw;/* original 4 */
    color: #e5e5e8;;
    
   
}

.gallery-info-subtitle{
    /* position: relative; */
    line-height: 1vw;  /* original 6 */
    /* font-family: ???; */
    margin: -15px 0 0 0;
    color: transparent;
    font-weight: 400;
    font-size: 2.5vw;
    -webkit-text-stroke: 2px #e5e5e8; /*contorno qnd a tipo é transpa*/
}