
/* .wrapper{
    padding: 0 35px;
    min-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    /* position: relative; 

}

.wrapper ul{
   
    background-color: #fff;
    height: 46px;
    width: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
    /* position: absolute;
    transform: translateY(-50%); 
    
}

.wrapper ul:first-child{
    left: -23px;
}

.wrapper ul:last-child{
    left: -23px;
}


.wrapper .carouselus{
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;/*o que faz aparecer so 3 imagens
}

.carouselus img{
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carouselus img:first-child{
    margin-left: 0px;

} */


.topic-image {
    width: 100%;
    height: 16em;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
  }
  
/* 
@media screen and (max-width: 900px){
    .carouselus img{
        width: calc(100% / 2);
    }
    
}

@media screen and (max-width: 550px){
    .carouselus img{
        width: 100%;
    }
    
} */