
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');


body{
    background-color: rgb(244, 237, 227);
}

.title{
    height: 120hv;
    /* display: flex; */
    padding: 0;
    /* padding-bottom: 200px; */
}

.title h2{
    font-size: 9rem;
    color: antiquewhite;
    font-family: 'Lato';
    font-weight:bolder;
    text-align: center;
    margin-bottom: 800px;

}



.wc,
.gis,
.sex,
.wai{
    width: 100%;
    margin-top: -100px;
    /* media qu 200px*/
    align-items: center;
    justify-content: center;
    display: flex;

    
}


.vwnwb,
.nws{
    width: 100%;
    margin-top: -300px;
    align-items: center;
    justify-content: center;
    display: flex;

}



.wc{
    background: linear-gradient(to top,  #0de9e2, #2cec3c);

}

.sex{
    background: linear-gradient(to top, #ff5a18, #8E2DE2) ;
}


.wai{
    background: linear-gradient(to top,#f260a4 , #af7a06) ;
}

.vwnwb{
    background: linear-gradient(to top, #8E2DE2, #0de9e2);
   
}
.gis{
    background: linear-gradient(to top, #af7a06, #ff5a18) ;
}

.nws{
    background: linear-gradient(to top,#633de9 , #0ca9ec)
}


.img_box{
    
    
    margin: 0 auto ;
    margin-top: 80px;
    
    height: 700px;
    width: 1000px;
    
}



/* novo site */

.section{
    padding: 100px 0;
}