
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');


body{
    background-color: rgb(244, 237, 227);
}

.title{
    height: 120hv;
    /* display: flex; */
    padding: 0;
    /* padding-bottom: 200px; */
}

.title h2{
    font-size: 12rem;
    color: antiquewhite;
    font-family: 'Lato';
    font-weight:bolder;
    text-align: center;
    margin-bottom: 800px;

}

 

.wc,

.wai,
.as{
    width: 100%;
    margin-top: -280px;
    /* media qu 200px*/
    align-items: center;
    justify-content: center;
    display: flex;

    
}

.gis,
.vwnwb,
.deh{
    width: 100%;
    margin-top: -500px;
    align-items: center;
    justify-content: center;
    display: flex;

}


/* 1 whitw centrism*/
.wc{
    /* background: linear-gradient(to top,  #0de9e2, #2cec3c); */
    background: linear-gradient(to top, #8E2DE2, #0de9e2);

}
/* 2 violence*/
.vwnwb{
    background: linear-gradient(to top, #ff5a18, #8E2DE2) ;
   
}
/*3 dehumanization*/
.deh{
    background: linear-gradient(to top,#f7b733, #ff5a18);
    
}
/* 4always serving*/
.as{
    background: linear-gradient(to top,#7a1ee3, #f29427);
}
/*5  google*/
.gis{
    background: linear-gradient(to top, #16b8e6, #7a1ee3) ;
}
/*how am i*/
.wai{
    background: linear-gradient(to top,#ffc3a0 , #d8687b) ;
}

.image-container{
    margin: 0 auto ;
   
}
.img_box{
    
    
    margin: 0 auto ;
    margin-top: 80px;
    
    height: 800px;
    width: 850px;
    
}



/* novo site */

.section{
    padding: 100px 0;
}

/*////////////////////////////////////*/
@media screen and (max-width: 1200px){

    .img_box{
    
        /* min-width: 100%;
        align-items: center;
        width: 450px; 
        height: 851px;
        padding-left: 80px; */
        align-items: center;
        padding: 0 95px;
        
    }
    .image-container{
        flex-direction: column;
        align-content: center;
        padding-bottom: 100px;
        min-width: 1000px;
        
        margin: 0 120px 0 90px;
        
        
    }

   
    
}

@media screen and (max-width: 950px){
    .img_box{
    
    
        min-width: 100%;
        align-items: center;
        padding: 30px;
        height: 400px;
        width: 450px;
        
        
    }

    
   
    
} 

@media screen and (max-width: 550px){
    .img_box{
    
    
        min-width: 80%;
        align-items: center;
        /* padding: 0 15px 0 10px; */
        
        
        
    }
    
    img{
        width: 450px;
        height: 400px;
        object-fit: cover;
    }
    
} 