
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');


body{
    background-color: rgb(244, 237, 227);
}

.title{ /* 'header-text'*/
    height: 120hv;
    padding: 0;
}

.title h2{
    font-size: 12vw;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(47, 45, 41);
    margin-top: -220px;
    margin-bottom: 900px;
    padding-top: 68px;
    color: antiquewhite;

}

 

.wc,
.gis,
.wai,
.as{
    width: 100%;
    margin-top: -280px;
    align-items: center;
    justify-content: center;
    display: flex;

    
}


.vwnwb,
.deh{
    width: 100%;
    margin-top: -550px;
    align-items: center;
    justify-content: center;
    display: flex;

}


/* 1 whitw centrism*/
.wc{
    /* background: linear-gradient(to top,  #0de9e2, #2cec3c); */
    background: linear-gradient(to top, #8E2DE2, #0de9e2);

}
/* 2 violence*/
.vwnwb{
    background: linear-gradient(to top, #ff5a18, #8E2DE2) ;
   
}
/*3 dehumanization*/
.deh{
    background: linear-gradient(to top,#f7b733, #ff5a18);
    
}
/* 4always serving*/
.as{
    background: linear-gradient(to top,#7a1ee3, #f29427);
}
/*5  google*/
.gis{
    background: linear-gradient(to top, #16b8e6, #7a1ee3) ;
}
/*how am i*/
.wai{
    background: linear-gradient(to top,#ffc3a0 , #d8687b) ;
}

.image-container{
    margin: 0 auto ;
   
}
.img_box{
    
    
    margin: 0 auto ;
    margin-top: 80px;
    
    height: 800px;
    width: 850px;
    
}



/* novo site */

.section{
    padding: 100px 0;
}

/*////////////////////////////////////*/
@media screen and (max-width: 1200px){

    .img_box img{
        object-fit: cover;
        height: 680px;
        width: 550px;
        
    }

    .img_box{
    
       max-width: 91%;
        height: 550px;
        
    }
    
    .image-container{
        flex-direction: column;
        align-content: center;
        padding-bottom: 100px;
        min-width: 1000px;
        
        margin: 0 120px 0 90px;
        
        
    }

   
    
}

@media screen and (max-width: 810px){
 
    .img_box{
        min-width: 100%;
        align-items: center;
        padding: 0;
    }
    
   
   
    .title h2{
       
        margin-top: 38px ; /*105px*/
        margin-bottom: 800px;
        padding-top: 68px;
       
    
    }

    .wc,
    .gis,
    .wai,
    .as{
        margin-top: -200px;
   
    }

    .vwnwb,
    .deh{
        margin-top: -255px;

    }
    
   
    
    
} 

@media screen and (max-width: 550px){

    
    img{
        /* width: 250px;
        height: 480px; */
        padding: 10px;
    }

    .image-container{
        padding-bottom: 20px;
       
    }
    .title h2{ 
        margin-top: 80px ; /*105px*/
        /* margin-bottom: 425px; */




    }

    .title{ /* 'header-text'*/
        height: 80hv;
       
    }

   
} 